$green: #42b883;
$navy: #35495e;

$font-sans: 'CircularStd', system, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
  'Segoe UI', Arial, sans-serif;

$fz-base: 18px;

$transition: all 0.25s ease;
